:root {
  --modal-z-index: 2;
}

.modal {
  position: fixed;
  z-index: var(--modal-z-index);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(160, 158, 158, 0.2);
  display: none;
}

.modal-content {
  margin-top: 100px;
  background-color: #ffffff;
  width: 899px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--font-fam);
  color: var(--font-color);
 
}

.modal-content h1 {
  font-size: 44px;
  font-weight: bold;
  margin-left: 580px;
  margin-bottom: 0px;
  margin-top: 10px;
}

#ok-button {
  width: 189px;
  height: 59px;
  background-color: var(--buttons-color);
  border-radius: 10px;
  border: 1px solid var(--buttons-color);
  font-size: 23px;
  font-family: var(--font-fam);
  color: var(--font-color);
  font-weight: bold;
}

#ok-button:hover {
  background-color: #1bdb92;
  cursor: pointer;
}

.review-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  color: var(--font-color);
}

.review-msg p {
  margin: 0; 
}
